
{% extends "slag/layout.html" %}
{% load static %}
{% block title %}
Data
{% endblock %}
{% block body %}
    <div class="container"><h1>We've colected lots of data from distinct reliable sources. According to them your choices have led the
        world to the following stages:
        <br>
        <button class="btn btn-secondary" onclick="myFunction()">Show game results</button>
        <div style="display: none;" id="resultsDiv">
        <div><h3><a href="#">18-23 points:</a></h3>
        <h4>Sad! Your decisions led your nation to a carbon footprint that was too high, as it did in 2019.
            <img src="{% static 'slag/yeargraphs/m2019.png' %}" alt="">
        </h4></div>
        <div><h3><a href="#">24-29 points:</a></h3>
            <h4>Uhmm… You could do it better,  your nation's carbon footprint is similar to what the earth had in 2018
                <img src="{% static 'slag/yeargraphs/m2018.png' %}" alt="">
            </h4></div>
        <div><h3><a href="#">30-35 points:</a></h3>
            <h4>Nice! You could be a good leader, your nation’s carbon footprint is similar to what the earth had in 2017
                <img src="{% static 'slag/yeargraphs/m2017.png' %}" alt="">
            </h4></div>
        <div><h3><a href="#">36-41 points:</a></h3>
            <h4>Good! You’ve done a good job. Keep working on that way and you’ll save the world. Btw, your nation’s carbon footprint was reduced and similar than the one in 2016.
                <img src="{% static 'slag/yeargraphs/m2016.png' %}" alt="">
            </h4></div>
        <div><h3><a href="#">42-47 points:</a></h3>
            <h4>Great! You’re one of the best players of the game. Your nation’s carbon footprint has reduced as  the one in 2015
                <img src="{% static 'slag/yeargraphs/m2015.png' %}" alt="">
            </h4></div>
        <div><h3><a href="#">48-54 points:</a></h3>
            <h4>Excelent! Why don't you run for president? Your carbon footprint registered has reduced as the one in 2014

                <img src="{% static 'slag/yeargraphs/m2014.png' %}" alt="">
            </h4></div>
        </div>
    </h1>
    <button class="btn btn-secondary" onclick="myFunction2()">Show International data</button>
    <div style="display: none;" id="interdata">
    <div class="topdiv2">
        <img class="datagraphs" src="{% static 'slag/yeargraphs/mosaic.png' %}" alt="">
        <h3>In the graphics we can see a map of the data taken from the OCO (Orbiting Carbon Observatory), 
        which is a mission by NASA designed to collect space-based measurements of atmospheric carbon dioxide. By looking at the colorbar, which represents the values of CO2 in ppm, we can see an increasing behaviour on the CO2 through the years, but looking at these colours might not be so clear, so lets show numbers. </h3></div>
    <div class="topdiv2">
        <img class="datagraphs" src="{% static 'slag/yeargraphs/CO2peryear.png' %}" alt="">
        <h3>This is a numerical representation of the maps shown before. Here we clearly see the alarming rising of the amount of CO2 in the atmosphere through the years, and this shows that something is happening. Now going back to the colormap, we can see that the main sources come from highly industrialized countries, and comparing Colombia to the scale, it’s a little under the global average, which means that compared to other countries, we do not represent a big contribution to the global carbon footprint.</h3></div>
    </div>
    <button class="btn btn-secondary" onclick="myFunction3()">Show Colombian data</button>
    <div style="display: none;" id="colombiandata" class="topdiv2">
        <h3>In actuality, Colombia has been working in different strategies and international and national agreements that try to mitigate the impact generated by the GHG, adapt the communities to these changes and reduce the risk that the climate imbalance in a big scale brings. The most importants agreements and commitments in the country against this problematic are:
            <ul>
                <li>Determined contributions at a national level (DCN), those are the commitments that countries have contributed to reduce the greenhouse effect emissions. </li>
                <li>National Development Plan (NDP)</li>
                <li>National climate change policy (NCCP) </li>
                <li>Sustainable Development Goals</li>
            </ul>
            There are some integral plans to manage the climate change called the PIGCC, those search solutions based in the sustainable development in each region of the country. In the Cauca Department there are four main strategies:
            <ul>
                <li>Cauca, hidraulic pantry</li>
                <li>Resilient environments</li>
                <li>Biodiversity and ecosystems</li>
                <li>Cauca, productive and sustainable</li>
            </ul>
            Some graphs showing the magnitude of climate change in Cauca:
            <br>
            <img class="datagraphs" style="width: 30%" src="{% static 'slag/yeargraphs/cauca1.png' %}" alt="">
            <h4 style="text-align: center;">Figure 2. Temperature difference in °C between the 2071-100 scenario with respect to the average reference temperature 1976-2005</h4>

            <img class="datagraphs" style="width: 30%;" src="{% static 'slag/yeargraphs/cauca2.png' %}" alt="">
            <h4 style="text-align: center;">Figure 3. Precipitation difference in % between the 2071-2100 scenario with respect to the average reference precipitation 1976-2005.</h4>



        </h3>
    </div>
    <script>
        function myFunction() {
          var x = document.getElementById("resultsDiv");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
        function myFunction2() {
          var x = document.getElementById("interdata");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
        function myFunction3() {
          var x = document.getElementById("colombiandata");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
        </script>
{% endblock %}